@tailwind base;
@tailwind components;
@tailwind utilities;

.is-caught .pokemon-image{
  @apply grayscale;
}

.is-caught .img-box-56319e8e{
  background-color:#999999;
}

.toggle-checkbox:checked{
  @apply bg-red-500;
  right:0;
  border-color:black;
}
.toggle-checkbox:checked + .toggle-label{
  @apply bg-red-500;
}