@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply grayscale to the image inside a caught card */
.is-caught .pokemon-image {
    @apply grayscale;
}

/* Custom toggle switch styles */
.toggle-checkbox:checked {
    @apply bg-red-500;
    right: 0;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-red-500;
}