@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for caught Pokemon */
.is-caught {
    @apply grayscale opacity-60;
}

/* Custom toggle switch styles */
.toggle-checkbox:checked {
    @apply bg-green-500;
    right: 0;
}
.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-500;
}