@tailwind base;
@tailwind components;
@tailwind utilities;


.is-caught .pokemon-image{
  @apply grayscale;
}

.is-caught .img-box-56319e8e{
  background-color:#DDDDDD;
}

.toggle-checkbox:checked{
  @apply bg-red-500;
  right:0;
  border-color:black;
}
.toggle-checkbox:checked + .toggle-label{
  @apply bg-red-500;
}

/* 사이드바 애니메이션 최적화 */
#sidebar{
  transition:transform 0.3s ease-in-out;
}

.overlay-active{
  display:block !important;
  opacity:1 !important;
}